{% extends "base.html" %}

{% block content %}
<form method="post">
    <div>
        <label>作业名称</label>
        <input type="text" name="name">
    </div>
    <div>
        <label>作业描述</label>
        <input type="text" name="description">
    </div>
    <div>
        <label>资料链接</label>
        <input type="text" name="fileURL">
    </div>
    <div>
        <label>期限</label>
        <input type="text" name="deadline">
    </div>
    <button type="submit">Submit</button>
</form>

{% endblock %}