{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="page-header">
        <h2>捐助页面</h2>
    </div>

    <div>
        <h4>需要服务器提供者，域名提供者，css设计者</h4>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

    <div aligh="left" style="display: inline-block; font-size: 40px;font-family: 'MV Boli'">
        Developers:
    </div>

    <div align="right" style="font-family: 'MV Boli'; float: right">

        <div style="display: inline-block">
            <a href="https://github.com/brickgao">
                <img  align="left" width="40" height="40" src="https://1.gravatar.com/avatar/39f302ea50ca47898b7f5e852d81d149?
                    d=https%3A%2F%2Fidenticons.github.com%2F4807d8e2371cb9bd333d5a83761ef05a.png&r=x&s=400">
                </img>
            </a>
            &nbsp;
            <div style="display: inline-block">
                <div><a href="mailto: brickgao@gmail.com"> brickgao</a> —</div>
                <div><a href="http://brickgao.com/"> 正常人院</a>院长</div>
            </div>
        </div>
        &nbsp;
        <div style="display: inline-block">
            <a href="https://github.com/mad4alcohol">
                <img align="left" width="40" height="40" src="https://2.gravatar.com/avatar/ec616231c2a55497c31c8528b8d3821c?
                    d=https%3A%2F%2Fidenticons.github.com%2F30e02d41a8897b396cee69198404ad81.png&r=x&s=440">
                </img>
            </a>
            &nbsp;
            <div style="display: inline-block">
                <div><a href="mailto: chsc4698@gmail.com">mad4alcohol</a> —</div>
                <div><a href="http://mad4a.me/"> 精神病院</a>42号</div>
            </div>
        </div>

        &nbsp;
        <div style="display: inline-block">
            <a href="https://github.com/whuream">
                <img align="left" width="40" height="40" src="https://0.gravatar.com/avatar/d94a3d8319ed50f3712eb37e45bea6f4?
                d=https%3A%2F%2Fidenticons.github.com%2F349ce01e065e4dc41abae5b5824e4938.png&r=x&s=440">
                </img>
            </a>
            &nbsp;
            <div style="display: inline-block">
                <div><a href="mailto: 1069700995@qq.com">whuream</a> —</div>
                <div>精神病院43号</div>
            </div>
        </div>
        <div style="display: inline-block; font-size: 40px; font-family: 'MV Boli'">
        IN
        </div>
        &nbsp;
        <div style="display: inline-block">
            <a href="https://github.com/Madhouse42">
                <img align="left" width="40" height="40" src="https://2.gravatar.com/avatar/5e1023931c8c4874cb192b5bfe68e22e?
                d=https%3A%2F%2Fidenticons.github.com%2F4841f6d89b50b9f8aa431a6d845149c1.png&r=x&s=440">
                </img>
            </a>
            &nbsp;
            <div style="display: inline-block">
                <div>Madhouse42 —</div>
                <div>组织</div>
            </div>
        </div>

    </div>
 </div>
{% endblock %}