<!DOCTYPE html>
<html>
<head>
    <title>signUp</title>
</head>
<body>
       <form method="post">
      <div>
        <label>学号</label>
        <input type="text" name="studentID" placeholder="Enter student ID">
      </div>
      <div>
        <label>姓名</label>
        <input type="text" name="studentName" placeholder="Enter student Name">
      </div>
      <div>
        <label>Password</label>
        <input type="password"  name="password" placeholder="Password">
      </div>
      <div>
        <label>Email</label>
        <input type="text"  name="email" placeholder="Email">
      </div>
      <div>
          <input type="radio" name="type" value="teacher" />teacher
          <br />
          <input type="radio" name="type" value="student" checked="checked" />student
      </div>
      <button type="submit">Submit</button>
    </form>
</body>
</html>