{% extends "bootstrap/base.html" %}
{% block title %}SignUp{% endblock %}
{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{url_for('.static', filename='css/signin.css')}}">
{% endblock %}
{% block content %}
    <div class="container">
        <form class="form-signin" method="post">
            <h2 class="form-signin-heading">学委Bot-注册界面</h2>
            {% if err %}
                <div class="alert alert-danger alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <strong>错误：</strong>{{ err }}
                </div>
            {% endif %}
            <div class="input-group">
                <span class="input-group-addon">学号</span>
                <input name="studentID"
                    {% if msg %}
                    value="{{ msg.get("studentID") }}"
                    {% endif %}
                    type="text" class="form-control" placeholder="学号" required autofocus>
            </div>
            <div class="input-group">
                <span class="input-group-addon">姓名</span>
                <input name="studentName"
                    {% if msg %}
                    value="{{ msg.get("studentName") }}"
                    {% endif %}
                       type="text" class="form-control" placeholder="姓名" required>
            </div>
            <div class="input-group">
                <span class="input-group-addon">邮箱</span>
                <input {% if msg %}value="{{ msg.get("email") }}"{% endif %} name="email" type="text" class="form-control" placeholder="邮箱" required>
            </div>
            <div class="input-group">
                <span class="input-group-addon">密码</span>
                <input name="password" {% if msg %}value="{{ msg.get("password") }}"{% endif %} type="password" class="form-control" placeholder="密码" required>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <input name="type" value="student" {% if not (msg and msg.get("type") == 'teacher')  %}checked="checked"{% endif %} type="radio">
                        </span>
                        <span class="form-control">学生</span>
                    </div><!-- /input-group -->
                </div><!-- /.col-lg-6 -->
                <div class="col-lg-6">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <input name="type" value="teacher" type="radio" {% if msg and msg.get("type") == 'teacher' %}checked="checked"{% endif %}>
                        </span>
                        <span class="form-control">教师</span>
                    </div><!-- /input-group -->
            </div><!-- /.row -->
            <button class="btn btn-lg btn-primary btn-block" type="submit">注册</button>
            &nbsp;
            <p>已有账户？<a href="/signIn">直接登录</a></p>
        </form>
    </div>
{% endblock %}
