{% extends "base.html" %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript" src="/static/javascripts/button.js"> </script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="page-header">
        <h2>
            账户信息
            <button class="btn btn-success pull-right" onclick="update_user_data()">
            修改
            </button>
        </h2>
    </div>
    <div class="panel panel-default">
        <div class="input-group">
            <span class="input-group-addon">我的帐号</span>
            <span class="form-control" >{{ global_user.studentID }}</span>
        </div>
        <div class="input-group">
            <span class="input-group-addon">我的姓名</span>
            <span class="form-control" >{{ global_user.studentTeacherName }}</span>
        </div>
        <div class="input-group">
            <span class="input-group-addon">我的邮箱</span>
            <span class="form-control" >{{ global_user.email }}</span>
        </div>
    </div>

    {% if global_user.submissions and global_user.type == 2%}
    <div class="panel panel-primary">
        <div class="panel-heading">
            提交记录
        </div>
        <div class="panel-body">
            <table class="table table-bordered">
                <tr>
                    <td>作业名</td>
                    <td>文件名</td>
                    <td>提交时间</td>
                    <td></td>
                </tr>
                    {% for submit  in global_user.submissions %}
                    <tr>
                        <td>{{ submit.assignment.name }}</td>
                        <td>{{ submit.file_submit_name }}</td>
                        <td>{{ submit.date.isoformat().split('.')[0].replace('T', ' ') }}</td>
                        <td align="middle">
                            <button class="btn btn-danger" id="btn-delete-disc-{{ submit._id }}" onclick="delete_submission({{ submit._id }})">
                                删除
                            </button>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    {% endif %}

    {% if global_user.assignments and global_user.type == 1%}
    <div class="panel panel-primary">
        <div class="panel-heading">
            发布的作业
        </div>
        <div class="panel-body">
            <table class="table table-bordered">
                <tr>
                    <td>作业名</td>
                    <td>期限</td>
                    <td>提交时间</td>
                    <td></td>
                </tr>
                    {% for ass in global_user.assignments %}
                    <tr>
                        <td>{{ ass.name}}</td>
                        <td>{{ ass.deadline.isoformat().split('.')[0].replace('T', ' ') }}</td>
                        <td>{{ ass.submit_date.isoformat().split('.')[0].replace('T', ' ') }}</td>
                        <td align="middle">
                            <button class="btn btn-success" id="btn-delete-disc-{{ ass._id }}" onclick="update_assignment({{ ass._id }})">
                                修改
                            </button>
                            <button class="btn btn-danger" id="btn-delete-disc-{{ ass._id }}" onclick="delete_assignment({{ ass._id }})">
                                删除
                            </button>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}