{% extends "base.html" %}

{% block content %}
我的帐号（学号） : {{ global_user.student_id }}<br />
我的姓名: {{ global_user.studentTeacherName }}<br />

user submit:<br />
{% for submit  in global_user.submissions %}
    task name: {{ submit.assignment_obj.name }}
    file name: {{ submit.file_submit_name }}
    提交时间：{{ submit.date }}
    <br />
{% endfor %}

    发布的作业：<br />
{% for ass in global_user.assignments %}
    task name: {{ ass.name }}
    提交时间：{{ ass.submit_date }}
    {% endfor %}

<a href="/update_user_data">修改用户信息</a>
{% endblock %}