{% extends "base.html" %}

{% macro dead_or_alive(inst) %}
    {%- if is_dead(ass_instance.deadline) -%}
        panel-default
    {%- else -%}
        panel-primary
    {%- endif -%}
{% endmacro %}

{% block content %}
<div class="container">
    <div class="page-header">
        <span class="label {{ get_color_from_timedelta(ass_instance.deadline) }}">
            {%- if is_dead(ass_instance.deadline) -%}
                已截止于：
            {%- else -%}
                截止日期：
            {%- endif -%}
            {{ format_date(ass_instance.deadline) }}
        </span>
        <h2>
            {{ ass_instance.name }}
            <small>
                {{ ass_instance.user.studentTeacherName }}
                 <a href="mailto: {{ ass_instance.user.email }}">
                           {{ ass_instance.user.email }}
                 </a>
            </small>
            <button class="btn btn-success pull-right" id="btn-delete-disc-{{ ass_instance._id }}" onclick="update_assignment({{ ass_instance._id }})">
                 修改
            </button>
        </h2>
    </div>

    <div class="panel {{ dead_or_alive(ass_instance) }}">
        <div class="panel-heading">
            作业描述
                <button class="btn btn-success pull-right btn-xs" onclick="location='{{ ass_instance.files_url }}'">
                    资料下载
                </button>
        </div>
        <div class="panel-body">
            {{ ass_instance.descriptions }}
            {% if is_dead(ass_instance.deadline) %}
                <!--button class="btn btn-info btn-sm pull-right"
                        onclick="append_ass()">
                    创建补交作业项目
                </button-->
            {% endif %}
        </div>
    </div>
    {% if global_user.type == (0 or 2) %}
    <div class="panel {{ dead_or_alive(ass_instance) }}">
        <div class="panel-heading">
            上传作业
        </div>
        <div class="panel-body">
            <div class="alert alert-danger alert-dismissable" hidden="hidden" id="err-bar">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <strong>错误：</strong><span id="err-msg"></span>
            </div>
            <div class="alert alert-success alert-dismissable" hidden="hidden" id="success-bar">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <strong>成功：</strong><span id="success-msg"></span>
            </div>
            <form id="form" enctype="multipart/form-data" method="post" action="upload">
                <input type="button" class="btn btn-primary" onclick="fileToUpload.click()" value="Choose File..."/>
                <div hidden="hidden">
                    <input type="file" name="file" id="fileToUpload" onchange='fileSelected()'>
                </div>
                <br />
                <br />
                <div class="alert alert-info">
                    <div id="fileName">FileName: </div>
                    <div id="fileSize">FileSize: </div>
                    <div id="fileType">FileType: </div>
                </div>
                <p id = "processPercent">Progress: </p>
                <div class="progress" id = "progressNumber">
                    <div class="progress-bar" style="width: 0%;"></div>
                </div>
                <button type="button" class="btn btn-primary" value="Upload"
                        onclick="uploadFile('{{ ass_instance._id }}')">Upload</button>
            </form>
        </div>
    </div>
    {% endif %}
    {% if global_user.type == (0 or 1) and global_user == ass_instance.user%}
    <div class="panel {{ dead_or_alive(ass_instance) }}">
        <div class="panel-heading">
            作业提交情况 &nbsp;&nbsp;&nbsp;提交人数：{{ ass_instance.submissions.__len__() }}
        </div>
        <div class="panel-body">
            <table class="table table-bordered">
                <tr>
                    <td>姓名</td>
                    <td>学号</td>
                    <td>提交时间</td>
                </tr>
                    {% for ass in ass_instance.submissions %}
                    <tr>
                        <td>{{ ass.user.studentTeacherName}}</td>
                        <td>{{ ass.user.studentID }}</td>
                        <td>{{ ass.date }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    {% endif %}
    <div class="panel {{ dead_or_alive(ass_instance) }}">
        <div class="panel-heading">
            讨论区
        </div>
        <div class="panel-body">
            <div class="container">
                <form class="form-horizontal" role="form"
                      id="discussion-form">
                    <div class="form-group">
                        <label class="control-label"
                               for="discussion-area">
                            Speak Thy Mind
                        </label>
                        <textarea class="form-control"
                                  rows="3"
                                  id="discussion-area"></textarea>
                    </div>
                    <div class="form-group">
                        <button type="submit"
                                class="btn btn-primary"
                                id="discussion-submit">
                            发送
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <ul class="list-group">
            {% for item in ass_instance.discussions[::-1] %}
                <li class="list-group-item">
                    <h5 class="list-group-item-heading">
                        <small class="list-group-item-text">
                            {{ item.date.isoformat().split('.')[0].replace('T', ' ') }},&nbsp;
                            {{ item.user.studentTeacherName }}&nbsp;说
                            {% if global_user._id == item.user._id %}
                                <button class="btn btn-danger pull-right"
                                        id="btn-delete-disc-{{ item._id }}"
                                        onclick="delete_disc({{ item._id }})">
                                    删除
                                </button>
                            {% endif %}
                        </small>
                        <br />
                        {{ item.discussion }}
                    </h5>
                </li>
            {% endfor %}
        </ul>
    </div>

</div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript" src="/static/javascripts/upload.js"> </script>
    <script type="text/javascript" src="/static/javascripts/button.js"> </script>
    <script type="text/javascript">
        $('#discussion-submit').click(function () {
            $.post('/append_disc', {
                ass_id: {{ ass_instance._id }},
                disc: $('#discussion-area').val()
            }).done(function (data) {
                        location.reload();
            });
        });
        var append_ass = function () {
            console.log('not implemented');
        };
    </script>
{% endblock %}

