{% extends "base.html" %}

{% macro dead_or_alive(inst) %}
    {%- if is_dead(ass_instance.deadline) -%}
        panel-default
    {%- else -%}
        panel-primary
    {%- endif -%}
{% endmacro %}

{% block content %}
<div class="container">
    <div class="page-header">
        <span class="label {{ get_color_from_timedelta(ass_instance.deadline) }}">
            {%- if is_dead(ass_instance.deadline) -%}
                已截止于：
            {%- else -%}
                截止日期：
            {%- endif -%}
            {{ format_date(ass_instance.deadline) }}
        </span>
        <h2>
            {{ ass_instance.name }}
            <small>
                {{ ass_instance.teacher.name }}
                <a href="mailto:{{ ass_instance.teacher.email }}">
                    {{ ass_instance.teacher.email }}
                </a>
            </small>
        </h2>
    </div>
    <div class="panel {{ dead_or_alive(ass_instance) }}">
        <div class="panel-heading">
            作业描述
        </div>
        <div class="panel-body">
            {{ ass_instance.descriptions }}
        </div>
    </div>
    <div class="panel {{ dead_or_alive(ass_instance) }}">
        <div class="panel-heading">
            上传作业
        </div>
        <div class="panel-body">
            上传框stub
        </div>
    </div>
    <div class="panel {{ dead_or_alive(ass_instance) }}">
        <div class="panel-heading">
            讨论区
        </div>
        <div class="panel-body">
            回复控件stub
        </div>
        <div class="list-group">
            {% for item in ass_instance.discussions() %}
                <a class="list-group-item" href="#">
                    <h5 class="list-group-item-heading">
                        <small class="list-group-item-text">{{ item.date }},&nbsp;{{ item.user.username }}&nbsp;说</small>
                        <br />
                        {{ item.discussion }}
                    </h5>
                </a>
            {% endfor %}

        </div>
    </div>

</div>
{% endblock %}

